__pycache__/
dist/
build/
checkpoints/
.idea/
.venv/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.egg-info/
*.egg
*.log
*.h5
*.ckpt
*.pt
*.pth
*.npz
*.npy
*.tar.gz
*.zip
*.tar
*.tar.bz2
*.tar.xz
*.ipynb_checkpoints/
*.bin